.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.height-full {
    height: 100vh; 
}

.width-full {
    width: 100%; 
}

.width-half {
    width: 50%; 
}

.all-center-width {
    max-width: 360px; 
}

.accent-bg {
    background-color: #C99700;
}

.primary-bg {
    background-color: #0C2340;
}