.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.height-full {
    height: 100vh; 
}

.height-half {
    height: 50vh; 
}

/* .height-fullish {
    height: 100vh; 
} */

.width-full {
    width: 100%; 
}

.width-half {
    width: 50%; 
}

.all-center-width {
    max-width: 360px; 
}

.accent-bg {
    background-color: #C99700;
}

.primary-bg {
    background-color: #0C2340;
}

.light-bg {
    background-color: #eee; 
}

.text-white {
    color: #ffffff; 
}

.text-primary {
    color: #0C2340; 
}

.text-accent {
    color: #C99700; 
}

.toolbar {
    padding: 17px;
    font-size: 15px; 
    color: white; 
    height: 8vh; 
}

.toolbar-icons {
    color: #30546c; 
    vertical-align: middle;
    text-align: center;
}

.toolbar-icons i {
    cursor: pointer;
    margin: auto 6px; 
}

.toolbar-icons i:hover {
    color: #C99700; 
}

.toolbar-user {
    position: absolute;
    right: 0; 
    padding-right: 17px; 
}

.fab-btn {
    position: fixed;
    bottom: 0;
    right: 0; 
    margin-right: 50px; 
    margin-bottom: 70px; 
    color: #eee; 
}