/* @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap'); */

.driving_icon {
    vertical-align: middle;
    font-size: 40px;
    margin: auto 10px; 
    color: #00843D
}

.driving-icon-sm {
    vertical-align: middle;
    font-size: 15px;
    margin: auto 6px; 
    color: #00843D
}

.arrow_icon {
    vertical-align: middle;
    color: #00843D;
    margin: auto 10px; 
}

.group-icon {
    font-size: 24px; 
}

.location {
    font-size: 55px;
    font-weight: 500;
    /* font-family: 'Arvo', serif; */
}

.location-sm {
    font-size: 17px;
    font-weight: 500;
    /* font-family: 'Arvo', serif; */
}

.date_time {
    font-size: 40px;
    font-weight: 400;
}

.bottom {
    position: absolute;
    bottom: 2;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0; 
    margin-right: 20px;
    margin-top: 20px;
}